body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.body-container {
  margin:0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 768px;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
  position: relative;
}
.main-header {
  position: relative;
  padding: 0;
  margin: 0;
}
.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top:0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}
.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0 ;
  margin: 0 72px;
  flex-wrap: wrap;
  align-items: center;
}
.site-navigation li {
  width:20%;
  margin: 0;
  padding:  15px 0;
}
.site-navigation li:first-child {
  text-align: left;
}
.site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-left: 30px;
  text-align: left;
}
.site-navigation li:nth-child(3) {
  margin-left: auto;
  text-align: right;
  padding-right: 32px;
}
.site-navigation li:last-child {
  text-align: right;
}
.site-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  opacity: 0.3;
  color: #000000;
}
.site-navigation-current a:not([href]) {
  color: #766357;
}
.main-image {
  height: 508px;
  width: 100%;
  position: relative;
  background-color: #758ba0;
  background-image: url("../img/sity-sedona.jpg");
  background-position:50% 28%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.main-image::after {
  content: "";
  position: absolute;
  width: inherit;
  height:57px;
  bottom:-1px;
  left:0;
  background-color: transparent;
  background-image: url("../img/imagedown.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 1;
}
.image-text {
  position:absolute;
  width: 460px;
  height: 360px;
  top:76px;
  left:50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  background-image: url("../img/4-layers.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}
.about-sedona {
  text-align: center;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 52px;
  width: 50%;
}
.about-sedona h1 {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  background-color: #ffffff;
  margin-bottom: 27px;
}
.feature {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}
.feature-img-town {
  width:66%;
  min-height: 256px;
  background-color: #758ba0;
  background-image: url("../img/town.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:50% 55%;
  flex-grow: 2;
}
.feature-img-bridge {
  width:66%;
  min-height: 256px;
  position: relative;
  background-color: #758ba0;
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:50% 53%;
  flex-grow: 2;
}
.feature-text {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  width:33%;
  flex-grow: 1;
}
.feature-text h2 {
  font-size: 21px;
  font-weight: 700;
  padding-top: 45px;
  padding-bottom: 23px;
  margin: 0 auto;
  width: 50%;
}
.feature-text-city {
  padding: 45px 55px;
  padding-top: 22px;
  margin: 0;
}
.feature-text-bridge {
  padding: 45px 45px;
  padding-top: 22px;
  margin: 0;
}
.features-list {
  list-style: none;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 40px;
  margin-bottom: 56px;
}
.feature-item {
  text-align: center;
  width: 33%;
  padding: 0 60px;
}
.feature-item h2 {
  width: 50%;
  margin:0 auto;
  margin-bottom: 25px;
}
.feature-item p {
  margin:20px 0;
}
.feature-item h2,
.recommend-item h3  {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}
.recommend-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom:68px;
  padding: 0;
  margin-top: 49px;
}
.recommend-item {
  text-align: center;
  width: 33%;
  padding:0 55px;
}
.recommend-item h3 {
  position: relative;
  margin: 0;
  padding-top: 110px;
  margin-bottom: 24px;
}
.recommend-item h3::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  background-repeat: no-repeat;
  transform: translate(-50%, 0%);
}
.home h3::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
}
.eat h3::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
}
.souvenir h3::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
}
.search-hotels {
  line-height: 24px;
  text-align: center;
  padding: 0 10px;
  position: relative;
}
.search-hotels h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}
.popupsearch,
.search {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
.popupsearch {
  background-color: #766357;
  display: inline-block;
  vertical-align: top;
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 33px;
}
.popupsearch:hover,
.popupsearch:focus {
  background-color: #604e43;
}
.popupsearch:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.search {
  width: 458px;
  background-color: #81b3d2;
  padding: 16px 0;
}
.search:hover,
.search:focus {
  background-color: #669ec0;
}
.search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
@keyframes bounce {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.search-hotels-form {
  font:inherit;
  text-align: left;
  width: 568px;
  min-height: 395px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  margin: 0 auto;
  position: absolute;
  top:100%;
  left:0;
  right: 0;
  z-index: 10;
  display: none;
}
.modal-show {
  display: block;
   -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}
.search-hotels-form fieldset {
  margin:0;
  padding: 39px 55px;
  border: none;
}
.search-hotels-item {
  color: #000000;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 28px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
  align-items: baseline;
}
.search-hotels-item input {
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  padding: 5px;
  padding-left: 10px;
  padding-right: 50px;
  width: 346px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.сalendar {
  position: absolute;
  right: 4px;
  top:8px;
  fill:#cacaca;
  border: 0;
  background: transparent;
}
.сalendar:hover,
.calendar:focus {
  fill:#000000;
}
.calendar:active {
  fill:#81b3d2;
}
.number-person {
  color: #000000;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  margin-bottom: 55px;
}
.number-child {
  margin-right: -20px;
}
.input-container input {
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  padding: 6px 0;
  width: 38px;
  margin: 0;
   -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.button-plus,
.button-minus  {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  border: 0;
}
.button-minus::before{
  content: "";
  width: 12px;
  height: 3px;
  position: absolute;
  left:14px;
  background-color: #cacaca;
}
.button-plus::before,
.button-plus::after {
  content: "";
  width: 12px;
  height: 3px;
  position: absolute;
  left:90px;
  right: 101px;
  background-color: #cacaca;
}
.button-plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.button-plus:hover::before,
.button-plus:hover::after,
.button-minus:hover::before,
.button-plus:focus::before,
.button-plus:focus::after,
.button-minus:focus::before  {
  background-color:#000000;
}
.button-plus:active::before,
.button-plus:active::after,
.button-minus:active::before{
  background-color: #81b3d2;
}
.search-hotels-item input:hover {
  color:#000000;
}
.search-hotels-item input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}
.main-map {
  width: 100%;
  min-height: 593px;
  overflow: hidden;
  position: relative;
}
.main-map img {
  width: 100%;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, 0%);
}
/*футер*/
.main-footer-absolute{
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 4;
  padding: 0;
  left:0;
}
.main-footer {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;

  align-items: center;
  padding:15px 0;
  width: 100%;
}
.main-footer span {
  width: 33%;
  padding-bottom: 4px;
  text-align: center;
}
.footer-social {
  width: 33%;
  display: flex;
  justify-content: center;

}
.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.footer-social ul {
  list-style: none;
  display: flex;
  width: 150px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
  opacity: 0.3;
}
.footer-copyright  {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  align-items: center;
  width: 33%;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.footer-copyright span {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}
.button-html {
  width: 115px;
  height: 41px;
  margin-right: 52px;
}
.button-html:hover path,
.button-html:focus path {
  fill:#81b3d2;
}
.button-html:active path {
  fill:#bdbbbc;
}
/* страница каталога */
.filters-form {
  width: 100%;
  margin: 0;
  position: relative;
  background-color: #355061;
  background-image: url("../img/backgroundSedona.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:50% 30%;
  font:  inherit;
  color: #ffffff;
  padding:0;
  padding-top: 26px;
  padding-bottom: 2px;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.filters-form  legend {
  font-size: 16px;
  font-weight: 700;
}
.filters-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filters-form fieldset {
  border: none;
  width: 21%;
  margin: 0;
  padding: 0;
}
.filters-form fieldset:first-child {
  margin-left: 72px;
}
.filters-form fieldset:nth-child(3) {
  width: 27%;
  margin-left: auto;
  margin-right: 72px;
  box-sizing: border-box;
  padding-left: 6px;
}
.filter-form label {
  display: inline-block;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.filters-form legend {
  margin-bottom: 25px;
}

.filter-option {
  margin-bottom: 25px;
  text-align: left;
  padding-left:40px;
}
.filter-option label {
  position: relative;
  display: block;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -40px;
  top: 0;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:disabled + label::before
{
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -40px;
  top: 0;
  background-image: url("../img/checkbox-off0.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top:0;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:disabled + label::after {
  content: "";
  position: absolute;
  top:0;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on0.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:focus +label::before {
  outline: auto;
}
.filter-price {
  margin-top: -14px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 0;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-align: center;
}
.filter-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.filter-price label {
  display:inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
  box-sizing:border-box;
  width: 50%;
}
.min-price {
  padding-left: 47px;
}
.max-price {
  padding-left:36px;
}
.filter-price  input {
  width: 50%;
  margin: 0;
  padding-left: 5px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.price-range {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.price-range:hover {
  background: #1c4f80;
}
.price-range-min {
  left: 0;
}
.price-range-max {
  left: 80%;
}
.filter-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  color:#ffffff;
  display: block;
  margin-left: 85px;
  margin-right: 91px;
  margin-bottom: 30px;
  width: 137px;
  padding: 6px;
}
.filter-button:hover,
.filter-button:focus {
  color:#000000;
  background-color:#ffffff;
}
.catalog-sort-sum {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 46px;
}
.catalog-sort {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0 72px;
  padding-bottom: 10px;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.catalog-sort h2 {
  color:#000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 40px;
}
.sort-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
 .sort-list li {
  margin-right: 33px;
}
 .sort-up-down {
  position: absolute;
  right: 72px;
  top: 27px;
}
.sort-item a {
  opacity: 0.3;
  color: #000000;
  border-bottom: 1px dotted #81b3d2;
}
.sort-item .sort-item-current {
  color: #81b3d2;
  border-bottom: 0;
  opacity: 1;
}
.sort-item .sort-item-current:hover {
  border-bottom: 1px dotted #81b3d2;
}
.sort-item a:hover,
.sort-item a:focus {
  color: #81b3d2;
  opacity: 1;
}
.sort-item .sort-item-current:active,
.sort-item a:active {
  border-bottom: 0;
  color: #000000;
  opacity: 1;
}
.button-up {
  margin-right: 9px;
}
.button-up:hover path,
.button-up:focus path,
.button-down:hover path,
.button-down:focus path {
  fill: #231f20;
}
.button-up:active path,
.button-down:active path {
  fill:#81b3d2;
}
.catalog-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
}
 .hotel-name a {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.hotel-name  a:hover,
.hotel-name  a:focus {
  color: #81b3d2;
}
.hotel-name a:active {
  color:#000000;
  opacity:0.3;
}
.catalog-item {
  padding: 0 72px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.hotel-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.hotel-img {
  width: 135px;
  min-width: 135px;
  height: 90px;
  margin-right: 30px;
  margin-top: 5px;
}
.hotel-main-info {
  display:flex;
  min-height: 90px;
}
.hotel-container {
  text-align: left;
}
.hotel-name {
  margin: 0;
  padding: 0;
}
.catalog-item-property {
  margin: 0;
  padding:12px 0;
  padding-top: 8px;
  display: flex;
}
.hotel-type {
  width: 117px;
}
.hotel-price
{
  width: 140px;
}
.catalog-price {
  display:block;
  margin-left: 20px;
}
.catalog-item-button {
  margin: 0;
  margin-top: 5px;
}
.catalog-item-button a {
  padding: 4px 17px;
}
.button-info,
.button-book {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
.button-info {
  background-color: #81b3d2;
  margin-right: 2px;
}
.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
}
.button-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.button-book {
  background-color: #766357;
}
.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}
.button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.hotel-rating {
  background-color: #f2f2f2;
  padding: 5px 15px;
  margin: 0;
  margin-bottom: -2px;
}
.stars {
  height: 17px;
  width: 25px;
  background-color: #ffffff;
  background-image: url("../img/star.svg");
  background-repeat: round;
  position: absolute;
  right: 0;
  top:4px;
}
.stars2 {
  width: 42px;
}
.stars3 {
  width: 66px;
}
.stars4 {
  width: 89px;
}
