body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
    width: 100%;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.body-container {
  margin:0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 768px;

}
.main-header {
 position: relative;
 padding: 0;

 margin: 0;
}
.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top:0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}
.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0 ;
  margin: 0 6%;
  flex-wrap: wrap;
  align-items: center;
}
.site-navigation li {
  width:20%;
  margin: 0;
  padding:  15px 0;

  }
.site-navigation li:first-child {
    text-align: left;
  }
.site-navigation li:nth-child(2) {
  margin-right: auto;
  text-align: left;
}
.site-navigation li:nth-child(3) {
  margin-left: auto;
  text-align: right;
}
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  opacity: 0.3;
  color: #000000;
}
.site-navigation-current {
  color: #766357;
}

.main-image {
  height: 512px;
  width: 100%;
  position: relative;
  background-image: url("../img/sity-sedona.jpg");
  background-position:50% 30%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.main-image::after {
  content: "";
  position: absolute;
  width: inherit;
  height:57px;
  bottom:0;
  left:0;
  background-image: url("../img/imagedown.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 1;
}
.image-text {
  position:absolute;
  width: 460px;
  height: 360px;
  top:76px;
  left:50%;
  transform: translate(-50%, 0);
  background-image: url("../img/4-layers.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}
.about-sedona {
  padding: 0 10px;
  margin-top: 60px;
}
.about-sedona h1 {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  margin:  0;
  padding: 0 20%;
  margin-bottom: 37px;
}
.about-sedona p {
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
}
.features-list {
  list-style: none;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  align-items: center;
  height: 256px;
}
.feature-item {
  text-align: center;

  width: 33%;
  padding: 0 60px;
  margin-top: 50px;

}
.feature-item h2 {
  width: 50%;
  margin:0 auto;
  margin-bottom: 26px;
}
.feature-item p {
  margin:26px auto;
}
.search-hotels {
  margin: 0 auto;
  padding: 0 10px;
}
.feature {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}
.feature-img {
  width:66%;
  overflow: hidden;
}
.feature-img img {
  width:100%;
  margin: auto 0;
}
.feature-text {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  width:33%;
  
}
.feature-text h2 {
  font-size: 21px;
  font-weight: 700;
  padding: 45px 10%;
  padding-bottom: 20px;
  margin: 0;
}
.feature-text p {
  padding: 45px 10%;
  padding-top: 20px;
  margin: 0;
}

.feature-item h2,
.recommend-item h3  {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}
.recommend-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom:65px;
  padding: 0;
}
.recommend-item {
  text-align: center;
  width: 33%;
  padding:0 80px;
}
.recommend-item h3 {
  position: relative;
  margin: 0;
  margin-top: 160px;
}
.recommend-item h3::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  background-repeat: no-repeat;
  transform: translate(-50%, 0%);
}
.home h3::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
}
.eat h3::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
}
.souvenir h3::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
}

.search-hotels {
  line-height: 24px;
  text-align: center;
}
.search-hotels h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
}
.popupsearch,
.search {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
.search {
  background-color: #81b3d2;
}
.popupsearch {
  background-color: #766357;
  display: inline-block;
  width: 568px;
  padding-top: 35px;
  padding-bottom: 33px;
}
.search-hotels-form {
  font:inherit;
  width: 568px;
  height: 395px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  margin: 0 auto;
}
.main-map img {
  width: 100%;
}

.popupsearch:hover,
.popupsearch:focus {
  background-color: #604e43;
}
.popupsearch:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.search:hover,
.search:focus {
  background-color: #669ec0;
}
.search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.search-hotels-item {
  color: #000000;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.search-hotels-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}
.search-hotels-item input:hover {
  background-color: #ebebeb;
}
.search-hotels-item input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}
/*футер*/
.main-footer {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  padding: 0 10px;
  margin: 0;
}
.main-footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.main-footer span {
  width:33%;
}
.footer-social {
  width: 33%;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social ul {
    list-style: none;
  display: flex;
  width: 150px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding:0;
}
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
  opacity: 0.3;
}
.footer-copyright  {
  display: flex;
  margin: 0;
  align-items: center;
  width: 33%;
}
.button-html {
  width: 115px;
  height: 41px;
}
.button-html:hover path,
.button-html:focus path {
  fill:#81b3d2;
}
.button-html:active path {
  fill:#bdbbbc;
}
.filters-form {
  width: 100%;
  margin: 0;
  position: relative;
  background-color: #355061;
  background-image: url("../img/backgroundSedona.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:50% 30%;

  font:  inherit;
  color: #ffffff;
  padding: 30px 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.filters-form  legend {
  font-size: 16px;
  font-weight: 700;
}
.filters-form ul {
  list-style: none;
  padding: 0;
  margin: 0;

}
.filters-form fieldset {
  border: none;
  max-width: 22%;
  margin: 0;
  margin-left: 72px;
  padding: 0;

}
.filters-form fieldset:nth-child(3) {
   max-width: 330px;

  margin-left: auto;
  margin-right: 72px;
}
.filter-form label {
  display: inline-block;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}
.filter-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  color:#ffffff;
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
}
.filter-button:hover,
.filter-button:focus {
  color:#000000;
  background-color:#ffffff;
}
.filters-form legend {
  margin-bottom: 16px;
}
.filter-option {
  margin-bottom: 19px;
  text-align: left;
  padding-left:40px;
}
.filter-option label {
  position: relative;
  display: block;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -42px;
  top: 0;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top:0;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-price {
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.filter-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.price-range {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.price-range:hover {
  background: #1c4f80;
}
.price-range-min {
  left: 0;
}
.price-range-max {
  left: 80%;
}
.filter-price label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.filter-price  .min-price,
.filter-price  .max-price {
  width: 90px;
  padding-left: 65px;
}
.filter-price  input {
  width: 50px;
  margin: 0;
  padding-left: 5px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.catalog-sort {
  font-size: 12px;
  line-height: 18px;
}
.catalog-sort-sum {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.catalog-sort h2 {
  color:#000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.sort-list {
  list-style: none;
}
.sort-item a {
  opacity: 0.3;
  color: #000000;
  border-bottom: 1px dotted #81b3d2;
}
.sort-item .sort-item-current {
  color: #81b3d2;
  border-bottom: 0;
  opacity: 1;
}
.sort-item .sort-item-current:hover {
  border-bottom: 1px dotted #81b3d2;
}
.sort-item a:hover,
.sort-item a:focus {
  color: #81b3d2;
  opacity: 1;
}
.sort-item .sort-item-current:active,
.sort-item a:active {
  border-bottom: 0;
  color: #000000;
  opacity: 1;
}
.catalog-list {
    list-style: none;
}
.hotel-card h3 a {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.button-info,
.button-book {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
.button-info {
  background-color: #81b3d2;
}
.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
}
.button-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.button-book {
  background-color: #766357;
}
.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}
.button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
/*сеточные стили*/
/* страница каталога*/
.catalog-sort {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0 72px;
  margin: 0;
  position: relative;
}
.catalog-sort p {
  margin-right: 45px;
}
.catalog-sort h2 {
  margin-right: 35px;
}
.sort-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
 }
 .sort-list li {
   margin-right: 30px;
 }
 .sort-up-down {
   position: absolute;
   right: 72px;
   top: 50%;
   transform: translate(0, -50%);
 }
.button-up {
  margin-right: 12px;
}
.button-up:hover path,
.button-up:focus path,
.button-down:hover path,
.button-down:focus path {
  fill: #231f20;
}
.button-up:active path,
.button-down:active path {
  fill:#81b3d2;
}
.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.catalog-item {
  padding: 30px 72px;
}
.hotel-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.hotel-img {
  width: 135px;
  min-width: 135px;
  height: 90px;
  margin-right: 30px;
}
.hotel-main-info {
  display:flex;
  align-items: flex-end;
  padding-top: 5px;

}
.hotel-container {
  text-align: left;


}
 .hotel-container h3 {
  margin: 0;
  padding: 0;

}
.catalog-item-property {
  margin: 0;
  padding: 14px 0;

}
.catalog-item-button {
  margin: 0;

}
.catalog-item-button a {
  padding: 5px 16px;
}
.hotel-rating {
  background-color: #f2f2f2;
  padding: 5px 13px;
  margin: 0;
}
.stars {
  height: 17px;

  background-color: #ffffff;
  background-image: url("../img/star.svg");
  background-position: right center;
  background-repeat: round;
  position: absolute;
  right: 0;
  top:0;
}
.stars2 {
  width: 40px;
}
.stars3 {
  width: 55px;
}
.stars4 {
  width: 73px;
}
